.unread {
    display: none;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    background: var(--red);
    border-radius: 50%;
    color: var(--white);
    font-size: var(--super-tiny-size);
    font-weight: bold;
}

.unreadOpen {
    display: flex;
}

.unreadBlackTheme {
    color: var(--black);
}
