.wrapper {
    width: 100%;
    height: 100vh;
    background: var(--blue-gradient);

    .loading {
        height: 100%;
        margin: 0 auto;
        font-size: var(--huge-size);
        text-align: center;

        .span {
            line-height: 100vh;
            pointer-events: none;
            vertical-align: middle;
        }
    }
}
